<%- include('../public_partials/head.ejs') %>

<body id="page">
  <div class="" id="content">
    <section data-section-id="3" data-share="" data-category="headers" data-component-id="44d0b9e2_01_awz" class="is-relative has-background-light is-clipped">
      <%- include('../public_partials/navbar.ejs') %>
      <div class="section py-0">
        <div class="container is-relative">
          <div class="columns is-multiline">
            <div class="column is-6-tablet mb-12 mb-0-desktop py-32-desktop pt-20">
              <div class="has-mw-md">
                <h1 class="title is-1 is-size-3-touch has-leading-2 mb-8" data-config-id="header">Obten 50% de descuento en todas las compras</h1>
                <!-- <p class="subtitle has-text-grey-dark mb-20" data-config-id="desc">Discover more products and inspiration.</p> -->
                <a class="button is-primary" href="#" data-config-id="primary-action">Comprar Ahora</a>
              </div>
            </div>
            <div class="column is-6-tablet mb-12 mb-0-desktop is-relative">
              <div class="mr-6 mb-12-touch mb-64-desktop is-absolute is-inline-block is-bottom-0 is-right-0 has-background-white" style="border-radius: 8px; z-index: 10;">
                <div class="is-flex">
                  <!-- <div> -->
                  <img class="image is-fullwidth is-covered" src="/files/toys.png" alt="" data-config-id="banner-image" style="height: 100%; border-radius: 8px;">
                  <!-- </div> -->
                </div>
              </div>
              <!-- <img class="mx-auto image is-fullwidth" style="object-fit: cover;" src="/files/toys.png" alt="" data-config-id="image"> -->
            </div>
          </div>
          <div class="has-mw-6xl is-relative -mt-24-desktop ml-auto-tablet px-8 py-12 has-background-white is-fullwidth" style="z-index: 10;">
            <div class="columns is-mobile is-vcentered is-multiline">
              <div class="column is-6-mobile is-2-desktop is-4-tablet mb-12 mb-0-desktop">
                <img class="mx-auto image" src="/files/lego.png" alt="" data-config-id="logo1">
              </div>
              <div class="column is-6-mobile is-2-desktop is-4-tablet mb-12 mb-0-desktop">
                <img class="mx-auto image" src="/files/barbie.png" alt="" data-config-id="logo2">
              </div>
              <div class="column is-6-mobile is-2-desktop is-4-tablet mb-12 mb-0-desktop">
                <img class="mx-auto image" src="/files/hotwheels.png" alt="" data-config-id="logo3">
              </div>
              <div class="column is-6-mobile is-2-desktop is-4-tablet mb-12 mb-0-tablet">
                <img class="mx-auto image" src="/files/brat.png" alt="" data-config-id="logo4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container is-relative">
        <div class="columns is-mobile is-vcenstered is-multiline">

          <% productos.forEach(function(producto) { %>

          <div class="column is-6-mobile is-3-desktop is-4-tablet mb-12 mb-0-desktop">
            <div class="card">
              <div class="card-image" style="text-align: center;">
                <img src="<%= producto.imagen_destacada%>" style="max-width: 150px; height: auto; display: inline-block;" alt="<%= producto.imagen_destacada%>">
              </div>
              <header class="card-header">
                <p class="card-header-title">
                  <%= producto.nombre%>
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <p class="has-text-weight-bold">
                    <%= producto.marca%>
                  </p>
                  <p class="">
                    <%= producto.nombre_categoria%>
                  </p>
                </div>
              </div>
              <footer class="card-footer">
                <a href="/producto/<%=producto.id%>" class="card-footer-item">Ver</a>
                <a class="card-footer-item has-text-weight-bold">$ <%= producto?.precio.toFixed(2)%></a>
              </footer>
            </div>
          </div>
          <% }); %>

        </div>
      </div>
    </section>
  </div>
</body>


</html>