<%- include('../public_partials/head.ejs') %>

<body id="page">
  <%- include('../public_partials/navbar.ejs') %>
  <div class="" id="content">
    <section data-section-id="2" data-share="" data-category="product-info" data-component-id="b9652106_01_awz" class="section is-clipped">

      <div class="container">
        <h1 class="title">Checkout</h1>
        <div class="mb-24 columns is-multiline">
          <div class="column is-6 p-1 mb-8 mb-0-tablet">

            <div class="column is-full mb-20" style="max-height: 20px;">
              <article class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="<%= producto.imagen_destacada%>">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong><%= producto.nombre%></strong>
                      <small>
                        <%= producto.marca%>
                        <%= producto.nombre_categoria%>
                      </small>
                      <br>
                      <a class="has-text-weight-bold">$ <%= producto?.precio.toFixed(2)%></a>
                    </p>
                  </div>
                </div>
              </article>
              <hr>
            </div>
          </div>
          <div class="column is-6">

            <form class="box" action="/procesar-pago" method="post">
              <div class="field">
                <label class="label">Numero de tarjeta de crédito</label>
                <div class="control">
                  <input class="input" type="number" name="card-number" value="4111111111111111" placeholder="4111111111111111" required> 
                </div>
              </div>

              <div class="field">
                <label class="label">CVV</label>
                <div class="control">
                  <input class="input" type="number" name="cvv" placeholder="123"  value="123" required>
                </div>
              </div>

              <div class="field">
                <label class="label">Mes de vencimiento</label>
                <div class="control">
                  <input class="input" type="number" name="expiration-month" placeholder="02" max="12" value="01" required>
                </div>
              </div>

              <div class="field">
                <label class="label">Año de vencimiento</label>
                <div class="control">
                  <input class="input" type="number" name="expiration-year" placeholder="2024" max="2030" value="2024" required>
                </div>
              </div>

              <div class="field">
                <label class="label">Nombre Completo</label>
                <div class="control">
                  <input type="hidden" name="full-name" value="<%=name%>">
                  <input class="input" type="text" name="full-name" placeholder="Nombre completo" value="<%=name%>" disabled>
                </div>
              </div>

              <div class="field">
                <label class="label">Total $ (USD)</label>
                <div class="control">
                  <input type="hidden" name="producto_id" value="<%= producto?.id %>">
                  <input type="hidden" name="producto-name" value="<%= producto?.nombre %>">
                  <input type="hidden" name="cantidad" value="<%= cantidad %>">
                  <input type="hidden" name="amount" value="<%= (producto?.precio * cantidad).toFixed(2)%>">
                  <input class="input" type="text" name="amount" placeholder="Total" value="<%= (producto?.precio * cantidad).toFixed(2)%>" disabled>
                </div>
              </div>
              
              <button class="button is-primary">Procesar Pago</button>
            </form>

          </div>
        </div>

      </div>
    </section>



  </div>

  <script src="https://shuffle.dev/static/build/runtime.199ee6f7.js" defer=""></script>
  <script src="https://shuffle.dev/static/build/js/anchors.91039015.js" defer=""></script>





</body>

</html>