<%- include('../public_partials/head.ejs') %>

<body id="page">
  <%- include('../public_partials/navbar.ejs') %>
  <div class="" id="content">
    <section data-section-id="2" data-share="" data-category="product-info" data-component-id="b9652106_01_awz" class="section is-clipped">

      <div class="container">
        <h1 class="title">Mis Compras</h1>
        <div class="mb-24 columns is-multiline">
          <div class="column is-6 p-1 mb-8 mb-0-tablet">

            <div class="columns is-mobile is-vcenstered is-multiline">

              <% shoppings.forEach(function(shopping) { %>
              <div class="column is-full mb-20" style="max-height: 20px;">
                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><%= shopping.fecha%></strong> <br>
                        <strong><%= shopping.nombre%></strong>
                        <small>
                          <%= shopping.nombre_producto%>
                          <%= shopping.nombre_categoria%>
                        </small>
                        <br>
                        <span>Cantidad: </span><a class="has-text-weight-bold"><%= shopping?.cantidad.toFixed(2)%></a>
                        <span>Total Cancelado: </span><a class="has-text-weight-bold">$ <%= shopping?.total_pagado.toFixed(2)%></a>
                      </p>
                    </div>
                  </div>
                </article>
                <hr>
              </div>
              <% }); %>





            </div>
          </div>
          <div class="column is-6">



          </div>
        </div>

      </div>
    </section>



  </div>

  <script src="https://shuffle.dev/static/build/runtime.199ee6f7.js" defer=""></script>
  <script src="https://shuffle.dev/static/build/js/anchors.91039015.js" defer=""></script>





</body>

</html>