<%- include('../partials/start.ejs') %>
<a href="/productos/create" class="button is-link">Nuevo Producto</a>

<table class="table is-fullwidth mt-2">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Codigo</th>
      <th>Marca</th>
      <th>Categoria</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% productos.forEach(function(producto) { %>

    <tr>
      <td><%=producto.nombre%></td>
      <td><%=producto.descripcion %></td>
      <td><%=producto.codigo %></td>
      <td><%=producto.marca %></td>
      <td><%=producto.categoria %></td>
      <td>$ <%=producto.precio.toFixed(2) %></td>
      <td><%=producto.stock.toFixed(2) %></td>
      <td>
        <div class="field has-addons">
          <p class="control">
            <a href="/productos/<%=producto.id%>" class="button">
              <span class="icon is-small">
                <i class="fas fa-edit"></i>
              </span>
            </a>
          </p>
          <p class="control">
            <button class="button" onclick="remove(event,<%=producto.id%>)">
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
              </span>
            </button>
          </p>
        </div>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>


<%- include('../partials/end.ejs') %>